/*-----BOARD-ELEMENTS-----*/
.board-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-direction: row;
}

.column {
    border-radius: 0.5vw;
    width: 100%;
    height: 50vw;
    margin: 1vw 0.2vw 0 0.2vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.column:first-of-type {
    background-image: url(../Assets/Images/panel1.png);
    background-size: cover;  
}

.column:nth-of-type(2) {
    background-image: url(../Assets/Images/panel2.png);
    background-size: cover;  
}

.column:nth-of-type(3) {
    background-image: url(../Assets/Images/panel3.png);
    background-size: cover;  
}

.column:nth-of-type(4) {
    background-image: url(../Assets/Images/panel4.png);
    background-size: cover;  
}

.board-label {
    border-radius: 0.5vw;
    width: 100%;
    height: 4vw;
    margin: 0.5vw 0.5vw 0 0.5vw;
}

/*-----COLUMN-SCROLLBAR-----*/
.column::-webkit-scrollbar {
    width: 1em;
}

.column::-webkit-scrollbar-track {
    border-radius: 0.5vw;
}

.column::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
    border: 2px outset #888;
    border-radius: 0.5vw;
}

/*-----CARD-ELEMENTS-----*/
.card {
    width: 94%;
    min-width: 120px;
    height: 26vw;
    min-height: 200px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.95);
}

.card-text {

}

.advance-button {
    font-size: 1.4rem;
    margin: auto;
    padding: 0.25vw 1vw 0.25vw 1vw;
    border: 1px solid white;
    border-radius: 0.5vw;
    background-image: linear-gradient(#999, #666);
    font-family: 'Hind Madurai', sans-serif;
    font-variant-caps: all-petite-caps;
    color: black;
    text-align: center;
    cursor: pointer;
}

.advance-button:hover {
    transition: 0.5s ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.back-button {
    font-size: 1.4rem;
    margin: auto;
    padding: 0.25vw 1vw 0.25vw 1vw;
    border: 1px solid white;
    border-radius: 0.5vw;
    background-image: linear-gradient(#999, #666);
    font-family: 'Hind Madurai', sans-serif;
    font-variant-caps: all-petite-caps;
    color: black;
    text-align: center;
    cursor: pointer;
}

.back-button:hover {
    transition: 0.5s ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.delete-button {
    font-size: 1.4rem;
    margin: auto;
    padding: 0.25vw 1vw 0.25vw 1vw;
    border: 1px ridge white;
    border-radius: 0.5vw;
    background-image: linear-gradient(#cc5757, #dd7c7c);
    font-family: 'Hind Madurai', sans-serif;
    font-variant-caps: all-petite-caps;
    color: white;
    text-align: center;
    cursor: pointer;
}

.delete-button:hover {
    transition: 0.5s ease;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

/*-----MEDIA-QUERIES-----*/
@media (max-width: 1050px) {
    .card-text {
        font-size: 0.7rem;
    }

    .card {
        min-height: 180px;
    }
}

@media (max-width: 780px) {
    .card {
        min-height: 180px;
    }
    .advance-button {
        font-size: 0.7rem;
    }

    .back-button {
        font-size: 0.7rem;
    }

    .delete-button {
        font-size: 0.7rem;
    }
}