@model GitHired_MVC.Models.Focus

@{
    Layout = "_Layout";
}
<body>
    <div class="green gradient container-l center pad-bottom-s pad-top-s">
        <form asp-controller="Focus" asp-action="Create">
            <input type="hidden" asp-for="UserID" />
            <table class="center pad-bottom-xs">
                <tbody>
                    <h1 class="center pad-bottom-s">Focus Info:</h1>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Name: </td>
                        <td><input type="text" asp-for="Name" class="wide-input"></td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Desired Position: </td>
                        <td><input type="text" asp-for="DesiredPosition" class="wide-input"></td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Location: </td>
                        <td><input type="text" asp-for="Location" class="wide-input"></td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Skillset: </td>
                        <td><input type="text" asp-for="Skill" class="wide-input"></td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Resume Link: </td>
                        <td><input type="text" asp-for="ResumeLink" class="wide-input"></td>
                    </tr>
                    <tr class="align-left">
                        <td class="pad-right-s pad-bottom-xs bold">Cover Letter Link: </td>
                        <td><input type="text" asp-for="CoverLetter" class="wide-input"></td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Create" class="button">
        </form>
    </div>
    <div class="pad-bottom-m"></div>
</body>