@model IEnumerable<GitHired_MVC.Models.Focus>

@{
    Layout = "_Layout";
}

<body>
    <h1>Create your focus</h1>
    <form>
        Username:
        Focus name:
        <input type="text" name="FocusName"><br>
        Desired position:
        <input type="text" name="FocusPosition"><br>
        Desired Location:
        <input type="text" name="FocusLocation"><br>
        Your skills:
        <input type="text" name="FocusSkill"><br>
        Your resume:
        <input type="text" name="FocusResume"><br>
        Your coverletter:
        <input type="text" name="FocusCoverL"><br>
        <input type="submit" value="Create Focus">
    </form>

</body>

