@model IEnumerable<GitHired_MVC.Models.Focus>

@{
    Layout = "_Layout";
}

<body>
    <h1>Your Focuses</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Desired Position
                </th>
                <th>
                    Location
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.DesiredPosition
                    </td>
                    <td>
                        @item.Location
                    </td>
                    <td>
                        @*this is where the links would go for edit, delete and board*@
                        <a asp-controller="Board" asp-action="Index" asp-route-id="@item.ID"> View Board</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

