@model GitHired_MVC.Models.User

@{
    Layout = "_Layout";
}

<body>
    <h1>Edit - User</h1>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="GitHubLink" class="control-label"></label>
                <input asp-for="GitHubLink" class="form-control" />
                <span asp-validation-for="GitHubLink" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</body>
