@model IEnumerable<GitHired_MVC.Models.User>

@{
    Layout = "_Layout";
}
<body>
    @foreach (var item in Model)
    {
        <dl>
            <dt>
                Name
            </dt>
            <dd>
                @item.Name
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @item.Email
            </dd>
            <dt>
                GitHub Link
            </dt>
            <dd>
                @item.GitHubLink
            </dd>

        </dl>

    @*<input type="hidden" asp-for="ID">*@
    <a asp-controller="Focus" asp-action="ExisitingUserIndex" asp-route-id="@item.ID"> View Focus</a>
    }
</body>