@model GitHired_MVC.Models.User

@{
    Layout = "_Layout";
}

<body>
    <dl>
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Model.Email
        </dd>
        <dt>
            GitHub Link
        </dt>
        <dd>
            @Model.GitHubLink
        </dd>

    </dl>
    @*<input type="hidden" asp-for="ID">*@
    <a asp-controller="Focus" asp-action="Create"> Create Focus</a>

</body>