@model GitHired_MVC.Models.Board
@{
    Layout = "_Layout";
}
<body>
    <h2 class="center">Board Focus: @*@Model.Focus.Name*@</h2>
    <p class="center">
        <a asp-action="Create" class="CRUD pad-top-xs">Create A New Column</a>
    </p>
    <div class="board-container">
        @*@foreach (var item in Model.Column)
        {
            <div class="column gradient"></div>
        }*@
        <div class="column green">
            <p>TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
            <p>TEST</p>
        </div>
        <div class="column green"></div>
        <div class="column green"></div>
        <div class="column green"></div>
        <div class="column green"></div>
    </div>
</body>