
﻿@*Sign in page*@

@{
    Layout = "_Layout";
}

<body>
    <div class="">
        <div class="green gradient container-m center"><h4 class="pad-top-xs">Get Started!</h4>
            <div class="pad-top-s">
                <div class="login-toggle">
                    <form>Username:
                        <input type="text" name="CurrUserUsername"><br>
                        <input type="submit" value="Log In" class="button">
                    </form>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#signup").ready(function () {
                        $(".signup-toggle").hide();
                    });
                    $("#signup").click(function () {
                        $("#signup").hide();
                        $(".login-toggle").hide();
                        $(".signup-toggle").show();
                    });
                });
            </script>
            <button id="signup" class="button container-s">Sign Up Today!</button>
            <div class="signup-toggle">
                <form>
                    <table class="center pad-bottom-xs">
                        <tr class="align-left">
                            <td>Username: </td>
                            <td><input type="text" name="NewUserUsername"></td>
                        </tr>
                        <tr class="align-left">
                            <td>Email: </td>
                            <td><input type="text" name="NewUserEmail"></td>
                        </tr>
                        <tr class="align-left">
                            <td class="pad-right-xs">GitHub Username: </td>
                            <td><input type="text" name="NewUserGHUsername"></td>
                        </tr>
                    </table>
                    <input type="submit" value="Sign Up" class="button">
                </form>
            </div>
        </div>
    </div>
    <div class="center pad-top-m">
        <h1>
            Welcome to GitHired
        </h1>
        <h4>Helps you stay in the know for your applying process</h4>
    </div>
</body>